.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.event-list {
  display: grid;
  grid-template-columns: 7.5% 35% 35% 7.5%;
  column-gap: 5%;
  grid-auto-rows: 30%;
  row-gap: 10%;
}

.event-card {
  background-color: #282c34;
  border: grey 3px solid;
  grid-column: 2;
}
.event-card:nth-child(even) {
  grid-column: 3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
